#header-bottom-left>.redditname a
{
display: url(%%e3555c8603744e954461a0d2b1975db6%%) no-repeat;
height: 50px;
float: left;
text-indent: 9001px;
}

#header-img{
display: none!important;
}

#header{
display: url(%%banner2shifted%%);
background: url(%%banner2shifted%%) no-repeat;
height: 100px
}

.tabmenu 
{
display: none!important;
float: left;
}


.subscribers .word, .users-online .word{
display:none;
}
.subscribers .number:after { 
content: " Literature Club Members"
}
.users-online .number:after { 
content: " People in a Space Classroom" 
}

.side .bottom * { display: none; }
.side .bottom {
    font-size: 0;
    content: '';
}
.side .bottom:before {
    font-size: x-small;
    content: 'created by Monika';
}