#header-bottom-left>.redditname a
{
background: url(%%banner2shifted%%) no-repeat;
height: 100px;
width: 1800px;
float: left;
text-indent: 9001px;
}

.subscribers .word, .users-online .word{
display:none;
}
.subscribers .number:after { 
content: " Literature Club Members"
}
.users-online .number:after { 
content: " People in a Space Classroom" 
}